<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>扫码</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>

<body>
    <button type="submit" id="btn" style="box-sizing: border-box;
    padding: 20px 100px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 4px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;">确定</button>
    <script>

        $("#btn").click(function () {

            $.ajax({
                type:"POST",
                url: "ReceiveInfo.html",
                contentType: "application/json", //如果提交的是json数据类型，则必须有此参数,表示提交的数据类型 
                //dataType: "json", //表示返回值类型，不必须           
                data: JSON.stringify({ "InviteBidInfo": 
                    [{ 'BidProId': '123', 
                    'BidProType': '123', 
                    'BidProName': 'BidProName', 
                    'ItemType': 'ItemType' }]
                }),  
                success: function (jsonResult) {                  
                    //在原来的页面跳转到下载word模板的页面
                    window.location.href = "/InviteBid/ExportTemplateFile";
                },
                error: function (data){
                    alert("错误提示： " + xhr.status + " " + xhr.statusText);
            }
            });      
        
        });
    </script>
</body>

</html>